@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
.slide{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    color: #202046;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    padding: 0;
    box-sizing: inherit;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    display: flex;
    width: 100%;
}
.slider-img {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    color: #202046;
    font-size: 32px;
    font-family: "Inter", sans-serif;
    text-align: center;
    margin: 0;
    box-sizing: inherit;
    width: 75%;
    padding: 30px;
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(https://alcs-slider.netlify.app/images/pattern-bg.svg);
  }
  .testimonial-quote{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    color: #202046;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    text-align: center;
    margin: 0;
    box-sizing: inherit;
    padding: 32px 51px;
    background-size: 60px;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url(https://alcs-slider.netlify.app/images/pattern-quotes.svg);
  }
  .author{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    color: #202046;
    font-family: "Inter", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-size: 15px;
    font-weight: 700;
  }
  .author span {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 15px;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    display: block;
    color: #babacf;
    font-weight: 500;
  }
  .testimonial-quote blockquote{
    -webkit-text-size-adjust: 100%;
    color: #202046;
    font-family: "Inter", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 36px;
  }
